
.rm-weekly-schedule {
    border: 1px solid #ddd;
    display: table;
    overflow: hidden;
    width: 100%;
    min-width: 740px;
}

.hour-labels {
    display: table-cell;
    padding-top: 48px;
    vertical-align: middle;
    width: 51px;
}

.hour-label {
    box-sizing: border-box;
    font-size: 13px;
    height: 50px;
    margin-right: 10px;
    position: relative;
    text-align: right;
    top: -8px
}

.days {
    display: table-cell;
    height: 100%;
}

.day {
    border-left: 1px solid #ddd;
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: calc(100% / 7);
}

.day-label {
    border-bottom: 1px solid #ddd;
    line-height: 48px;
    text-align: center;
}

.date-label {
    background-color: #f3f3f6;
    border-bottom: 1px solid #ddd;
    line-height: 48px;
    text-align: center;
}

.slots {
    height: 100%;
    position: relative;
}

.slot {
    border-bottom: 1px dotted #e0e0e0;
    box-sizing: border-box;
    height: 10px;

    &:last-child {
        border-bottom: none;
    }
}


.event {
    border-radius: 3px;
    box-sizing: border-box;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 4px;
    position: absolute;
    right: 0;
    z-index: 10;
}