@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.event-menu-expand {
    display: none;
    flex-direction: column;
    gap: 5px;
}
.menu-button{
    flex: 1;
}
.event-menu:hover > .event-menu-expand {
    display: flex;
    background: red;
}
.calendar-animation {
    animation: slideFromRight 0.5s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}


.rm-weekly-schedule {
    background-color: #f5f5fa;
    border: 1px solid #ddd;
    display: table;
    overflow: hidden;
    width: 100%;
}

.rmws-hour-labels {
    display: table-cell;
    padding-top: 48px;
    vertical-align: middle;
    width: 51px;
}

.rmws-hour-label {
    box-sizing: border-box;
    font-size: 13px;
    height: 50px;
    margin-right: 10px;
    position: relative;
    text-align: right;
    top: -8px
}

.rmws-days {
    display: table-cell;
    height: 100%;
}

.rmws-day {
    border-left: 1px solid #ddd;
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: calc(100% / 7);
}

.rmws-day-label {
    background-color: #eaeaf0;
    border-bottom: 1px solid #ddd;
    line-height: 48px;
    text-align: center;
}

.rmws-date-label {
    background-color: #f3f3f6;
    border-bottom: 1px solid #ddd;
    line-height: 48px;
    text-align: center;
}

.rmws-slots {
    height: 100%;
    position: relative;
}

.rmws-slot {
    border-bottom: 1px dotted #e0e0e0;
    box-sizing: border-box;
    height: 10px;

    &:last-child {
        border-bottom: none;
    }
}

.rmws-slot:hover{
    background: #d6d6da;
}
.rmws-event-pending {
    background-color: rgba(145, 145, 145, 0.5);
    border: 1px solid rgba(145, 145, 145, 0.75);
    color: rgba(96, 96, 96, 0.75);
}

.rmws-event-completed {
    background-color: rgba(12, 215, 1, 0.5);
    border: 1px solid rgba(26, 217, 16, 0.75);
    color: rgba(7, 114, 0, 0.75);
}

.rmws-event-canceled {
    background-color: rgba(255, 0, 0, .5);
    border: 1px solid rgba(255, 0, 0, .75);
    color: rgba(155, 0, 0, .75);
}

.rmws-event {
    border-radius: 3px;
    box-sizing: border-box;
    left: 0;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 4px;
    position: absolute;
    right: 0;
    z-index: 10;

    .rmws-time {
        font-size: 12px;
        font-weight: 300;
    }

    .rmws-handle {
        cursor: row-resize;
        height: 7px;
        left: 0;
        right: 0;
        position: absolute;

        &.rmws-handle-bottom {
            bottom: -1px;
        }

        &.rmws-handle-top {
            top: -1px;
        }
    }

    .rmws-close {
        cursor: pointer;
        display: none;
        position: absolute;
        right: 4px;
        top: 2px;

        &:after {
            content: "\f00d";
            font-family: FontAwesome;
        }
    }

}