<div class="modal fade" id="editEventModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalCenterTitle">Edytowanie lekcji: <span
                        id="editEvent_title"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" name="cancel_form" id="cancel_plan_form">
                {% csrf_token %}
                <div class="modal-body">
                    {% csrf_token %}
                    <div class=" row align-items-center">
                        <div class="form-group col-sm-6">
                            <label for="starTime_cancelForm">Godzina Rozpoczęcia <span
                                    class="text-danger">*</span></label>
                            <input name="startTime" type="time" class="form-control" id="starTime_cancelForm"
                                   value="" style="line-height: 20px;"
                                   required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="lessonDuration_cancelForm">Czas trwania <span class="text-danger">*</span>
                            </label>
                            <select name="lessonDuration" class="form-control "
                                    id="lessonDuration_cancelForm" required>
                                <option disabled>-</option>
                                <option value="30">30 min</option>
                                <option value="45">45 min</option>
                                <option value="60">60 min</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="lessonDate_cancelForm">Data Lekcji <span
                                    class="text-danger">*</span></label>
                            <input name="lessonDate" type="date" class="form-control" id="lessonDate_cancelForm"
                                   value=""
                                   style="line-height: 20px;" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="status_cancelForm">Status <span class="text-danger">*</span></label>
                            <select name="status" class="form-control" id="status_cancelForm" required>
                                <option value="zaplanowana">Zaplanowana</option>
                                <option value="nieobecnosc">Nieobecność</option>
                                <option value="odwolana_nauczyciel">Odwołana - nauczyciel</option>
                                <option value="odwolana_24h_przed">Odwołana - 24h przed</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="studentForm_cancelForm">Student <span class="text-danger">*</span></label>
                            <input class="form-control" id="studentForm_cancelForm" required readonly="">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="teacher_createLesson">Nauczyciel <span class="text-danger">*</span></label>
                            <select class="form-control" id="teacher_createLesson" name="teacher" required>
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-sm-6" hidden="">
                            <label for="originalDate_cancelForm">original_date</label>
                            <input name="originalDate" type="date" class="form-control" id="originalDate_cancelForm"
                                   value=""
                                   style="line-height: 20px;" readonly="">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="lessonSchedule_cancelForm">lessonSchedule</label>
                            <input name="lessonId" type="text" class="form-control"
                                   id="lessonId_cancelForm"
                                   value=""
                                   style="line-height: 20px;">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="location_createLesson">Lokalizacja <span
                                    class="text-danger">*</span></label>
                            <select class="form-control" id="location_createLesson" name="location" required>
                                {% for location in locations %}
                                    <option value="{{ location.id }}">{{ location.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-sm-6 d-none" id="lessonDate_endSeries_div_old">
                            <label for="lessonDate_endSeries">Koniec Serii</label>
                            <input name="end_series" type="date" class="form-control" id="lessonDate_endSeries"
                                   value=""
                                   style="line-height: 20px;" data-toggle="tooltip" data-placement="right"
                                   title="Podaj datę ostatniej lekcji z serii. Może być puste">
                        </div>
                        {#                            <div class="form-group col-sm-6">#}
                        {#                                <label for="status_cancelForm">lessonSchedule</label>#}
                        {#                                <input name="status" type="text" class="form-control" id="status_cancelForm"#}
                        {#                                       value=""#}
                        {#                                       style="line-height: 20px;" readonly="">#}
                        {#                            </div>#}
                        <div class="form-group col-sm-6" hidden="">
                            <label for="status_cancelForm">isAdjustment</label>
                            <input name="isAdjustment" type="checkbox" class="form-control"
                                   id="isAdjustment_cancelForm"
                                   style="line-height: 20px;" readonly="">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    {#                        <button name="plan_form_submit" id="cancel_form_btn_plan" type="submit" class="btn btn-success">#}
                    {#                            Tak, Zaplanuj Lekcje#}
                    {#                        </button>#}
                    {#                        <button name="cancel_form_submit" id="cancel_form_btn_cancel" type="submit"#}
                    {#                                class="btn btn-danger">Tak, Odwołaj Lekcje#}
                    {#                        </button>#}
                    <button name="edit_form_submit" id="cancel_form_btn_edit" type="submit"
                            class="btn btn-primary">Zapisz Zmiany
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>