{% extends 'base/base.html' %}
{% block title %}Kalendarz{% endblock title %}
{% load crm_tags %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <style>
        {% for teacher in teachers %}
            #initial_{{ teacher.id }}.initialspage:before {
                background: {{ teacher.avatar_color }} !important;
                margin-left: -14px;
            }
        {% endfor %}

        #initial_{{ selected_teacher.id }}.initialspage:before {
            background: {{ selected_teacher.avatar_color }} !important;
            margin-left: -14px;
        }

        .teachers-selector:first-child {
            margin-left: 1px !important;
        }

        .dropdown-toggle::after {
            position: absolute;
            right: 10px;
            bottom: 45%;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="card">
        <div class="card-header justify-content-between">
            <div class="header-title d-flex">
                <h4 class="card-title">Kalendarz</h4>
                <button onclick="copyCalendarLink()" class="btn p-0 ml-2 text-primary" type="button"
                        data-trigger="hover" data-toggle="popover"
                        data-content="Skopiuj link do obecnego widoku kalendarza" data-placement="bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                         stroke="currentColor" class="" width="18">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"></path>
                    </svg>


                </button>
            </div>

            <div class="my-3">
                <div class="d-flex align-content-center">
                    <button type="button" class="btn btn-primary rounded-pill mt-2  font-size-12 my-auto"
                            style="height: 40px" id="prevWeekBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6" width="18">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
                        </svg>
                        Poprzedni tydzień
                    </button>
                    <button type="button" class="btn btn-primary rounded-pill mt-2 mx-1 font-size-12 my-auto"
                            style="height: 40px" id="todayBtn">
                        Teraz
                    </button>
                    <button type="button" class="btn btn-primary rounded-pill mt-2 font-size-12  my-auto"
                            style="height: 40px" id="nextWeekBtn">
                        Następny tydzień
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6" width="18">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
                        </svg>
                    </button>
                    <div class="dropdown ml-5">
                        <button class="btn bg-primary-light dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="user-display pr-2">
                                <span id="initial_{{ selected_teacher.id }}"
                                      data-letters="{{ selected_teacher.get_full_name|initials }}"
                                      class="initialssmall initialspage mx-auto"></span>
                                <span class="ml-2 font-size-18">{{ selected_teacher.get_full_name }}</span>
                            </div>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for teacher in teachers %}
                                <a class="dropdown-item user-item"
                                   onclick="showByRecord('{{ teacher.id }}')"
                                        {#                                   href="/calendar?selected_teacher={{ teacher.id }}&selected_year={{ request.GET.selected_year }}&selected_start_date={{ request.GET.selected_start_date }}"#}
                                   data-initials="AB"
                                   data-fullname="Alice Brown">
                                    <span id="initial_{{ teacher.id }}"
                                          data-letters="{{ teacher.get_full_name|initials }}"
                                          class="initialssmall initialspage mx-auto"></span>
                                    <span class="ml-2">{{ teacher.get_full_name }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="calendar-container" class="rm-weekly-schedule">
                <div class="hour-labels">
                    <div class="hour-label" style="height: 50px;"></div>
                    {#                    <div class="hour-label" style="height: 40px;">0:00</div>#}
                    {#                    <div class="hour-label" style="height: 40px;">1:00</div>#}
                    {#                    <div class="hour-label" style="height: 40px;">2:00</div>#}
                    {#                    <div class="hour-label" style="height: 40px;">3:00</div>#}
                    {#                    <div class="hour-label" style="height: 40px;">4:00</div>#}
                    {#                    <div class="hour-label" style="height: 40px;">5:00</div>#}
                    {#                    <div class="hour-label" style="height: 40px;">6:00</div>#}
                    <div class="hour-label" style="height: 40px;">7:00</div>
                    <div class="hour-label" style="height: 40px;">8:00</div>
                    <div class="hour-label" style="height: 40px;">9:00</div>
                    <div class="hour-label" style="height: 40px;">10:00</div>
                    <div class="hour-label" style="height: 40px;">11:00</div>
                    <div class="hour-label" style="height: 40px;">12:00</div>
                    <div class="hour-label" style="height: 40px;">13:00</div>
                    <div class="hour-label" style="height: 40px;">14:00</div>
                    <div class="hour-label" style="height: 40px;">15:00</div>
                    <div class="hour-label" style="height: 40px;">16:00</div>
                    <div class="hour-label" style="height: 40px;">17:00</div>
                    <div class="hour-label" style="height: 40px;">18:00</div>
                    <div class="hour-label" style="height: 40px;">19:00</div>
                    <div class="hour-label" style="height: 40px;">20:00</div>
                    <div class="hour-label" style="height: 40px;">21:00</div>
                    <div class="hour-label" style="height: 40px;">22:00</div>
                    <div class="hour-label" style="height: 40px;">23:00</div>
                </div>
                <div class="days">
                    {% for day in tag|weekdays %}
                        <div class="day">
                            <div class="date-label">DATE</div>
                            <div class="day-label bg-primary-light">{{ day }}</div>
                            <div class="slots">
                                {% for foo in '9012345678921234'|make_list %} {# loop  24 times #}
                                    {#                                    <div class="slot" onclick="addOnCalendar(event)" type="button"#}
                                    {#                                         data-toggle="modal"#}
                                    {#                                         data-target="#exampleModal"></div>#}
                                    <div class="slot"></div>
                                    <div class="slot"
                                         onclick=""></div>
                                    <div class="slot"></div>
                                    <div class="slot"
                                         style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(208, 208, 208);"></div>
                                {% endfor %}

                                {#                                <div class="event event-completed"#}
                                {#                                     style="top: calc((12*60 + 20 )/15 * 10px); height: 69px; cursor: default;">#}
                                {#                                    <div class="time">0:00—1:45</div>#}
                                {#                                    Kamil pianino#}
                                {##}
                                {#                                    <div style="top: 0; right: 0; margin-right: 5px; margin-top: -5px;font-size: 20px; cursor: pointer"#}
                                {#                                         class="position-absolute event-menu">#}
                                {#                                         onclick="showHideMenu('menu_{{ day }}')">#}
                                {#                                        ...#}
                                {#                                        <div style="top: 0; right: 0; margin-right: 5px; margin-top: -5px; visibility: hidden"#}
                                {#                                             class="position-absolute bg-white p-2 rounded-sm" id="menu_{{ day }}">#}
                                {#                                            <a class="bg-red text-white p-1 rounded-sm">Cancel</a>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                </div>#}

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class=" row align-items-center">
                            <div class="form-group col-sm-6">
                                <label for="starTime">Start Time</label>
                                <input type="time" class="form-control" id="starTime"
                                       value="{{ lesson.startTime|date:"H:i" }}" style="line-height: 20px;"
                                       required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="endTime">End Time</label>
                                <input type="time" class="form-control" id="endTime"
                                       value="{{ lesson.endTime|date:"H:i" }}"
                                       style="line-height: 20px;" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="startDate">Start Date</label>
                                <input type="date" class="form-control" id="startDate"
                                       value="{{ lesson.startDate|date:"Y-m-d" }}"
                                       style="line-height: 20px;" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="endDate">End Date</label>
                                <input type="date" class="form-control" id="endDate"
                                       value="{{ lesson.endDate|date:"Y-m-d" }}"
                                       style="line-height: 20px;">
                            </div>
                            <div class="form-group mb-0 col-sm-6">
                                <label for="student">Student</label>
                                <select class="form-control choicesjs" id="student" required>
                                    <option value="{{ lesson.student }}">dpa</option>
                                </select>
                            </div>
                            <div class="form-group mb-0 col-sm-6">
                                <label for="student">Teacher</label>
                                <select class="form-control choicesjs" id="teacher" required>
                                    {% for u in users %}
                                        {% if u.id == lesson.teacher %}
                                            <option value="{{ u.id }}">{{ u.get_full_name }}</option>
                                        {% else %}
                                            <option value="{{ u.id }}">{{ u.get_full_name }}</option>
                                        {% endif %}

                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <a href="/students/{{ lesson.student.id }}/{{ lesson.id }}?mode=view"
                           class="btn btn-outline-primary mr-2 mt-5">Cancel</a>
                        <button type="submit" class="btn btn-primary mt-5">Save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Do You want to cancel this lesson?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <p class="mt-2">


                        </p>

                        {% csrf_token %}
                        <div class=" row align-items-center">
                            <div class="form-group col-sm-6">
                                <label for="starTime_cancelForm">Start Time</label>
                                <input name="startTime" type="time" class="form-control" id="starTime_cancelForm"
                                       value="" style="line-height: 20px;"
                                       required readonly="">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="endTime_cancelForm">End Time</label>
                                <input name="endTime" type="time" class="form-control" id="endTime_cancelForm"
                                       value=""
                                       style="line-height: 20px;" required readonly="">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="lessonDate_cancelForm">Lesson Date</label>
                                <input name="lessonDate" type="date" class="form-control" id="lessonDate_cancelForm"
                                       value=""
                                       style="line-height: 20px;" required readonly="">
                            </div>
                            <div class="form-group mb-0 col-sm-6">
                                <label for="studentForm_cancelForm">Student</label>
                                <input class="form-control" id="studentForm_cancelForm" required readonly="">
                            </div>
                            <div class="form-group col-sm-6" hidden="">
                                <label for="originalDate_cancelForm">original_date</label>
                                <input name="originalDate" type="date" class="form-control" id="originalDate_cancelForm"
                                       value=""
                                       style="line-height: 20px;" readonly="">
                            </div>
                            <div class="form-group col-sm-6" hidden="">
                                <label for="lessonSchedule_cancelForm">lessonSchedule</label>
                                <input name="lessonSchedule" type="text" class="form-control"
                                       id="lessonSchedule_cancelForm"
                                       value=""
                                       style="line-height: 20px;" readonly="">
                            </div>
                            <div class="form-group col-sm-6" hidden="">
                                <label for="status_cancelForm">lessonSchedule</label>
                                <input name="status" type="text" class="form-control" id="status_cancelForm"
                                       value=""
                                       style="line-height: 20px;" readonly="">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-danger">Yes, Cancel Lesson</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>

        let selected_year;
        let startDate;
        let selected_teacher;


        function cancelEvent(lesson_schedule_id, startTime, endTime, lessonDate, studentName) {
            let startTime_form = document.getElementById('starTime_cancelForm');
            let endTime_form = document.getElementById('endTime_cancelForm');
            let lessonDate_form = document.getElementById('lessonDate_cancelForm');
            let originalDate_form = document.getElementById('originalDate_cancelForm');
            let lessonSchedule_form = document.getElementById('lessonSchedule_cancelForm');
            let student_form = document.getElementById('studentForm_cancelForm');
            let status_form = document.getElementById('status_cancelForm');

            console.log(arguments);

            startTime_form.value = startTime;
            endTime_form.value = endTime;
            lessonDate_form.value = lessonDate;
            lessonSchedule_form.value = lesson_schedule_id;
            student_form.value = studentName;
            originalDate_form.value = lessonDate;
            status_form.value = 'Canceled';
        }

        function adjustToNearestMonday(date) {
            const day = date.getDay();
            // If the day is not Monday (1)
            if (day !== 1) {
                // Calculate how many days to add to reach the next Monday
                const daysToAdd = (day === 0) ? 1 : (8 - day);
                date.setDate(date.getDate() + daysToAdd);
            }
            return date;
        }

        document.addEventListener('DOMContentLoaded', function () {
            let urlParams = new URLSearchParams(window.location.search);


            selected_teacher = urlParams.get('selected_teacher');

            selected_year = parseInt(urlParams.get('selected_year'));

            let selected_start_date = urlParams.get('selected_start_date');

            if (selected_start_date != null && selected_start_date !== "") {
                const decodedDate = decodeURIComponent(selected_start_date);
                // Convert the string to a Date object
                startDate = adjustToNearestMonday(new Date(decodedDate));
            }

            if (!selected_teacher) {
                selected_teacher = '{{ request.user.id }}';
                addParamToURL('selected_teacher', selected_teacher)
            }
            if (!selected_year) {
                selected_year = new Date().getFullYear();
                addParamToURL('selected_year', selected_year)
            }

            // Function to update dates based on the current week
            function updateToCurrentWeek() {
                // Clear the calendar first
                clearCalendar();

                var today;
                {#if (!startDate) {#}
                today = new Date();
                today.setFullYear(today.getFullYear()); // Set the year to selected_year
                today.setMonth(today.getMonth()); // Set the month to current month
                today.setDate(today.getDate()); // Set the day to today

                removeParamFromURL('selected_start_date');

                if (today.getFullYear() !== selected_year) {
                    addParamToURL('selected_start_date', "");
                    addParamToURL('selected_year', today.getFullYear());

                    location.reload();
                }

                console.log('TODAY: ' + today);
                // Adjust to consider Monday as the first day of the week
                var firstDayOfWeek = 1; // 0: Sunday, 1: Monday, ..., 6: Saturday
                var todayDay = (today.getDay() + 7 - firstDayOfWeek) % 7;

                // Calculate the starting date of the current week
                startDate = new Date(today);
                startDate.setDate(startDate.getDate() - todayDay); // Set to Monday of the current week


                // Update date labels
                updateDates(startDate);
                // Add dynamic lessons
                addDynamicLessons();
            }

            // Function to clear the calendar
            function clearCalendar() {
                let lessonElements = document.querySelectorAll('.event');
                lessonElements.forEach(function (element) {
                    console.log('removing -> ' + element.id)
                    element.remove();
                });
            }

            // Function to update the date labels
            function updateDates(startDate) {
                var dateLabels = document.querySelectorAll('.date-label');
                dateLabels.forEach(function (label, index) {
                    var date = new Date(startDate);
                    date.setDate(startDate.getDate() + index);
                    label.textContent = formatDate(date);
                });
            }

            // Function to format the date as "YYYY-MM-DD"
            function formatDate(date) {
                var year = date.getFullYear();
                var month = (date.getMonth() + 1).toString().padStart(2, '0');
                var day = date.getDate().toString().padStart(2, '0');
                return year + '-' + month + '-' + day;
            }


            function addDynamicLessons() {
                var lessons = JSON.parse('{{lessons|jsonify}}');
                var weekDays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
                var startDate = new Date(document.querySelector('.date-label').textContent);
                var endDate = new Date(startDate);
                endDate.setDate(endDate.getDate() + 6); // Set endDate to the end of the week
                var today = new Date(); // Get today's date

                console.log('Lessons:', lessons);
                console.log('Start Date:', startDate);
                console.log('End Date:', endDate);

                lessons.forEach(function (lesson) {
                    // Convert lesson start and end time to minutes
                    var startTime = lesson.startTime.split(':');
                    var endTime = lesson.endTime.split(':');
                    var startMinutes = (parseInt(startTime[0]) - 7) * 60 + parseInt(startTime[1]);
                    var endMinutes = (parseInt(endTime[0]) - 7) * 60 + parseInt(endTime[1]);

                    // Calculate duration of lesson in minutes
                    var durationMinutes = endMinutes - startMinutes;

                    // Find the index of the lesson's week day in the weekDays array
                    var lessonWeekDayIndex = weekDays.indexOf(lesson.weekDay);
                    console.log('Processing lesson:', lesson);

                    if (lessonWeekDayIndex !== -1) {
                        // Calculate the date of the lesson in the current week
                        var lessonDate = new Date(startDate);
                        lessonDate.setDate(startDate.getDate() + lessonWeekDayIndex);

                        // Check if the lesson is within the current selected week
                        let isWithinWeek
                        if (lesson.is_series) {
                            isWithinWeek = (new Date(lesson.startDate) <= endDate) && (lesson.endDate === null || new Date(lesson.endDate) >= startDate);
                        } else {
                            isWithinWeek = (new Date(lesson.startDate) <= endDate && new Date(lesson.startDate) >= startDate);
                        }
                        if (isWithinWeek) {
                            // Create lesson element and set its position and duration
                            var lessonElement = document.createElement('div');
                            lessonElement.classList.add('event');
                            lessonElement.id = 'lesson_' + lesson.id + '_' + formatDate(lessonDate); // Set ID using lesson ID and date from JSON
                            console.log('lesson startMinutes: ' + startMinutes)
                            lessonElement.style.top = 'calc(' + (startMinutes / 15) * 10 + 'px)';
                            lessonElement.style.height = durationMinutes / 15 * 10 + 'px';
                            {#lessonElement.innerHTML = '<div class="time">' + lesson.startTime + '—' + lesson.endTime + '</div>' +#}
                            lessonElement.innerHTML = `<a class="" href="student/${lesson.student_id}">${lesson.student}</a>`;
                            {# data-content="{{ teacher.get_full_name }}"#}
                            {#data-placement="bottom" data-trigger="hover" data-toggle="popover"#}
                            lessonElement.setAttribute('data-content', lesson.startTime + '—' + lesson.endTime + '<br/>Opis: ' + lesson.description + '<br/>Nauczyciel: ' + lesson.teacher);
                            lessonElement.setAttribute('data-placement', 'bottom');
                            lessonElement.setAttribute('data-trigger', 'hover');
                            lessonElement.setAttribute('data-toggle', 'popover');
                            lessonElement.setAttribute('data-html', 'true');
                            $(lessonElement).popover();
                            // Add the appropriate class based on the date
                            lessonElement.classList.add('bg-success-light');


                            // Add the lesson element to the correct weekday container
                            var weekdayContainer = document.querySelectorAll('.day')[lessonWeekDayIndex];
                            weekdayContainer.querySelector('.slots').appendChild(lessonElement);

                            console.log('Added lesson:', lesson);
                        }
                    }
                    if (lesson.adjustments && lesson.adjustments.length > 0) {
                        lesson.adjustments.forEach(function (adjustment) {
                            {#console.log('Processing adjustment:', adjustment);#}
                            // Convert adjustment start and end time to minutes
                            var adjStartTime = adjustment.startTime.split(':');
                            var adjEndTime = adjustment.endTime.split(':');
                            var adjStartMinutes = (parseInt(adjStartTime[0]) - 7) * 60 + parseInt(adjStartTime[1]);
                            var adjEndMinutes = (parseInt(adjEndTime[0]) - 7) * 60 + parseInt(adjEndTime[1]);

                            // Calculate duration of adjustment in minutes
                            var adjDurationMinutes = adjEndMinutes - adjStartMinutes;

                            // Calculate the date of the adjustment in the current week
                            var adjustmentDate = new Date(adjustment.lessonDate);

                            if (adjustmentDate >= startDate && adjustmentDate <= endDate) {
                                console.log('withinWeek TRUE')
                                // Create adjustment element and set its position and duration
                                var adjustmentElement = document.createElement('div');
                                adjustmentElement.classList.add('event');
                                adjustmentElement.id = 'adjustment_' + adjustment.id + '_' + formatDate(adjustmentDate); // Set ID using adjustment ID and date from JSON
                                {#var adjustedValue = Math.round((adjStartMinutes / 15) * 4.4);#}
                                {#var roundedValue = Math.round(adjustedValue / 10) * 10;#}
                                {#console.log('adjStartMinutes: ' + adjStartMinutes + ' calc: ' + roundedValue)#}
                                {#adjustmentElement.style.top = 'calc(' + roundedValue + 'px)';#}

                                console.log('adjStartMinutes: ' + adjStartMinutes)
                                adjustmentElement.style.top = 'calc(' + (adjStartMinutes / 15) * 10 + 'px)';
                                adjustmentElement.style.height = adjDurationMinutes / 15 * 10 + 'px';
                                adjustmentElement.innerHTML = `<a class="" href="student/${lesson.student_id}">${lesson.student}</a>`;
                                adjustmentElement.setAttribute('data-content', adjustment.startTime + '—' + adjustment.endTime + '<br/>Opis: ' + lesson.description + '<br/>Nauczyciel: ' + lesson.teacher);
                                adjustmentElement.setAttribute('data-placement', 'bottom');
                                adjustmentElement.setAttribute('data-trigger', 'hover');
                                adjustmentElement.setAttribute('data-toggle', 'popover');
                                adjustmentElement.setAttribute('data-html', 'true');
                                $(adjustmentElement).popover();
                                // Add the appropriate class based on the date
                                console.log('changing adjusmnent bg -> ' + adjustment.status);
                                switch (adjustment.status) {
                                    case 'Nieobecnosc':
                                        adjustmentElement.classList.add('bg-danger-light');
                                        break;
                                    case 'Odwolana - nauczyciel':
                                        adjustmentElement.classList.add('bg-orange-light');
                                        break;
                                    case 'Odwolana - 24h przed':
                                        adjustmentElement.classList.add('bg-orange-light');
                                        break;
                                    case 'Zaplanowana':
                                        adjustmentElement.classList.add('bg-success-light');
                                        break;
                                }


                                // Add the adjustment element to the correct weekday container
                                console.log('adjustmentDate.getDay() -> ' + adjustmentDate.getDay());
                                let adjustmentWeekdayIndex = adjustmentDate.getDay()
                                if (adjustmentWeekdayIndex === 0) {
                                    adjustmentWeekdayIndex = 6
                                } else {
                                    adjustmentWeekdayIndex--;
                                }
                                console.log('adjustmentWeekdayIndex -> ' + adjustmentWeekdayIndex);
                                var weekdayContainer = document.querySelectorAll('.day')[adjustmentWeekdayIndex]; // Get the weekday container using the adjustment date
                                weekdayContainer.querySelector('.slots').appendChild(adjustmentElement);

                                console.log('Added adjustment:', adjustment);

                                // Remove old lesson schedule element
                                var oldLessonElementId = 'lesson_' + adjustment.lessonScheduleId + '_' + adjustment.originalLessonDate;
                                var oldLessonElement = document.getElementById(oldLessonElementId);
                                if (oldLessonElement) {
                                    oldLessonElement.remove();
                                    console.log('Removed old lesson:', oldLessonElementId);
                                }
                            }
                        });
                    }
                });
            }

            if (!startDate) {
                // Initialize to current week
                updateToCurrentWeek();
            } else {
                updateDates(startDate);
                addDynamicLessons()
            }


            // Today button click event
            document.getElementById('todayBtn').addEventListener('click', function () {
                updateToCurrentWeek();
            });

            // Previous week button click event
            document.getElementById('prevWeekBtn').addEventListener('click', function () {
                set_calendar_date(-7)
            });

            // Next week button click event
            document.getElementById('nextWeekBtn').addEventListener('click', function () {
                set_calendar_date(7)
            });

            function set_calendar_date(days) {
                clearCalendar();
                startDate.setDate(startDate.getDate() + days);
                addParamToURL('selected_start_date', startDate.toISOString());

                if (startDate.getFullYear() !== selected_year) {
                    addParamToURL('selected_year', startDate.getFullYear());
                    location.reload();
                }

                updateDates(startDate);
                addDynamicLessons()
            }


        });

        function showByRecord(recordId) {
            addParamToURL('selected_start_date', startDate.toISOString());
            addParamToURL('selected_year', startDate.getFullYear());
            addParamToURL('selected_teacher', recordId);

            location.reload();
        }

        function copyCalendarLink() {
            addParamToURL('selected_start_date', startDate.toISOString());
            addParamToURL('selected_year', startDate.getFullYear());
            addParamToURL('selected_teacher', selected_teacher);

            navigator.clipboard.writeText(window.location.href);
            handleResponse({status: true, message: "Link skopiowany pomy\u015Blnie"});
        }
    </script>

{% endblock javascript %}