{% extends 'base/base.html' %}
{% block title %}{{ contact.get_full_name }}{% endblock title %}
{% block style %}
    <style>
    </style>
{% endblock style %}
{% block content %}
    {% load crm_tags %}

    <div class="card">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/contacts"><i
                        class="ri-home-4-line mr-1 float-left"></i>Kontakty</a></li>
                <li class="breadcrumb-item active"
                    aria-current="page">{{ contact.get_full_name }}
                </li>
            </ol>
        </nav>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab-1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link {% if request.GET.tab == 'Details' %}active{% endif %}" id="home-tab"
                       data-toggle="tab" href="#details" role="tab"
                       aria-controls="details" aria-selected="true"
                       onclick="addParamToURL('tab', 'Details')">Szczegóły</a>
                </li>
            </ul>
            <div class="tab-content" id="tab-student">
                <div class="tab-pane fade {% if request.GET.tab == 'Details' %}show active{% endif %}" id="details"
                     role="tabpanel" aria-labelledby="details-tab">

                    <form>
                        {% csrf_token %}
                        <div class=" row align-items-center">
                            <div class="form-group col-sm-6">
                                <label for="student_first_name">Imię:</label>
                                <input name="first_name" type="text" class="form-control" readonly=""
                                       id="student_first_name"
                                       value="{{ contact.first_name }}">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="student_last_name">Nazwisko:</label>
                                <input name="last_name" type="text" class="form-control" readonly=""
                                       id="student_last_name"
                                       value="{{ contact.last_name }}">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="student_email">Email:</label>
                                <input name="email" type="email" class="form-control" readonly="" id="student_email"
                                       value="{{ contact.email }}">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="student_phone">Telefon:</label>
                                <input name="phone" type="text" class="form-control" readonly id="student_phone"
                                       value="{{ contact.phone|default_if_none:"" }}">
                            </div>
                        </div>
                        <button id="student_btn_edit" type="button"
                                class="btn btn-outline-primary mt-5"
                                style="{% if request.GET.mode == 'edit' %} display: none{% endif %}"
                                onclick="editStudent()">
                            Edytuj
                        </button>
                        <button id="student_btn_cancel" type="button"
                                class="btn btn-outline-primary mr-2 mt-5"
                                style=" {% if request.GET.mode == 'view' %} display: none{% endif %}"
                                onclick="viewStudent()">
                            Anuluj
                        </button>
                        <button id="student_btn_submit" type="submit"
                                class="btn btn-primary mt-5"
                                style="{% if request.GET.mode == 'view' %} display: none{% endif %}">
                            Zapisz
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

{% block javascript %}
{% endblock javascript %}