{% extends 'base/base.html' %}
{% block title %} Importowanie {% endblock title %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">Importowanie Rekordów</h4>
                <a href="?download=true" class="btn btn-primary">Pobierz szablon XLSX</a>

            </div>
        </div>

        <div class="card-body">

        </div>
    </div>
{% endblock content %}