{% extends 'base/base.html' %}
{% load crm_tags %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="col-md-12 mb-4 mt-1">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <h4 class="font-weight-bold">Cześć {{ request.user.first_name }}!</h4>
        </div>
    </div>
    <div class="col-lg-8 col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Twoje Dzisiejsze Lekcje</h4>
                        </div>
                        <h6 class="mb-0 text-uppercase d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="pr-2" width="30"
                                 fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                            </svg>
                            {{ today.date }}
                        </h6>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-spacing mb-0">
                                <tbody>
                                {% if not lessons %}
                                    <tr>
                                        <td class="text-center">
                                            <h6 class="mb-0 text-uppercase text-secondary">Brak lekcji na dzisiaj</h6>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% for key, lesson in lessons.items %}
                                    <tr class="white-space-no-wrap">
                                        <td>
                                            <h6 class="mb-0 text-uppercase text-secondary">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="pr-2" width="30"
                                                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          stroke-width="2"
                                                          d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                                                </svg>
                                                {{ lesson.start_time }} - {{ lesson.end_time }}
                                            </h6>
                                        </td>
                                        <td class="pl-0 py-3">
                                            <h6 class="mb-0 text-secondary">
                                                <svg width="20px" class="svg-icon" xmlns="http://www.w3.org/2000/svg"
                                                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"></path>
                                                </svg>
                                                {{ lesson.location }}
                                            </h6>
                                        </td>
                                        <td class="pl-0 py-3">
                                            <a type="button" href="/student/{{ lesson.student_id }}"
                                               class="">{{ lesson.student }}
                                            </a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="d-flex justify-content-end align-items-center border-top-table p-3">
                            <button onclick="window.location.href = '/calendar'" class="btn btn-secondary btn-sm">Zobacz
                                cały kalendarz
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
            