{% extends 'base/base.html' %}
{% block content %}
    {% load crm_tags %}

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">Dodawanie nowego rekordu {{ title }}</h4>
            </div>

        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">

                    <form method="post">
                        {% csrf_token %}
                        <div class=" row align-items-center">
                            {% for field in form %}
                                <div class="form-group col-sm-6">
                                <div class="text-danger">{{ field.errors|striptags }}</div>
                                <label for="{{ field.name }}">{{ field.label_tag }}{{ field.field.widget.class }}</label>
                                <input name="{{ field.name }}" type="{{ field.field.widget.input_type }}" class="form-control" style="{% if field.field.widget.input_type == 'date' %}line-height: 25px{% endif %}" id="{{ field.name }}"
                                       value="{{ field.value|default_if_none:"" }}" {% if field.field.required %}required{% endif %}>
                            </div>
                            {% endfor %}
{#                            <div class="form-group col-sm-6">#}
{#                                <div class="text-danger">{{ form.first_name.errors|striptags }}</div>#}
{#                                <label for="fname">Imię:</label>#}
{#                                <input name="first_name" type="text" class="form-control" id="fname"#}
{#                                       value="{{ form.first_name.value }}" required>#}
{#                            </div>#}
{#                            <div class="form-group col-sm-6">#}
{#                                <div class="text-danger">{{ form.last_name.errors|striptags }}</div>#}
{#                                <label for="lname">Nazwisko:</label>#}
{#                                <input name="last_name" type="text" class="form-control" id="lname"#}
{#                                       value="{{ form.last_name.value }}" required>#}
{#                            </div>#}
{#                            <div class="form-group col-sm-6">#}
{#                                <div class="text-danger">{{ form.email.errors|striptags }}</div>#}
{#                                <label for="uemail">Email:</label>#}
{#                                <input name="email" type="email" class="form-control" id="uemail"#}
{#                                       value="{{ form.email.value }}" required>#}
{#                            </div>#}
{#                            <div class="form-group col-sm-6">#}
{#                                <div class="text-danger">{{ form.phone_number.errors|striptags }}</div>#}
{#                                <label for="uphone">Telefon:</label>#}
{#                                <input name="phone_number" type="text" value="{{ form.phone_number.value }}" class="form-control" id="uphone">#}
{#                            </div>#}
                        </div>
                        <a href="/{{ model_name }}{% if 'edit' in request.path %}/{{ record_id }}{% endif %}" class="btn btn-outline-primary mr-2 mt-5">Anuluj</a>
                        <button type="submit" class="btn btn-primary mt-5">{% if 'edit' in request.path %}Zapisz{% else %}Dodaj{% endif %} {% if btn_title %}{{ btn_title }}{% else %}{{ title }}{% endif %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}