{% extends 'base/base.html' %}
{% block style %}
    <style>
    .choices[data-type*="select-one"] select.choices__input {
    display: block !important;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    bottom: 0;
}
    </style>
{% endblock style %}
{% block title %}{% if 'edit' in request.path %}Edytowanie{% else %}Dodawanie nowego{% endif %} rekordu: {{ title }}{% endblock title %}
{% block content %}
    {% load crm_tags %}

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">{% if 'edit' in request.path %}Edytowanie{% else %}Dodawanie nowego{% endif %}
                    rekordu: {{ title }}</h4>
                {% if form.get_help_text %}
                    <div class="mt-3 d-flex align-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6" width="20px">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"></path>
                        </svg>
                        <p class="my-auto ml-1">{{ form.get_help_text }}</p>
                    </div>
                {% endif %}
            </div>

        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                    <form method="post">
                        <div class="text-danger mb-4">{{ form.non_field_errors|striptags }}</div>
                        {% csrf_token %}
                        <div class=" row align-items-center">
                            {% for field in form %}
                                <div class="form-group col-sm-6"
                                     style=" {% if field.name == 'id' %}visibility: hidden; display: none{% endif %}">
                                    <div class="text-danger">{{ field.errors|striptags }}</div>
                                    <label for="{{ field.name }}">
                                        {{ field.label_tag }}
                                        {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                                    </label>
                                    {% if field.field.widget.input_type == 'select' %}
                                        <select name="{{ field.name }}" class="form-control choicesjs"
                                                id="{{ field.name }}" {% if field.field.required %}required{% endif %}
                                                {% if field.field.disabled %}disabled{% endif %}>
                                            {% for value, key in field.field.choices %}
                                                <option value="{{ value }}"
                                                        {% if field.value|stringformat:"s" == value|stringformat:"s" %}
                                                        selected {% endif %}>
                                                    {{ key }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <input name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                                               class="form-control"
                                               style="{% if field.field.widget.input_type == 'date' or field.field.widget.input_type == 'datetime-local' %}line-height: 25px{% endif %}"
                                               id="{{ field.name }}"
                                               {% if field.field.widget.input_type == 'checkbox' %}{% if field.value %}checked{% endif %}{% else %} value="{% if field.field.widget.input_type == 'date' %}{{ field.value|date:"Y-m-d"|default:"-" }}{% elif field.field.widget.input_type == 'datetime-local' %}{{ field.value|date:"Y-m-d H:i"|default:"-" }}{% else %}{{ field.value|default_if_none:"" }}{% endif %}"{% endif %}
                                               maxlength="{{ field.field.max_length }}"
                                               {% if field.field.required %}required{% endif %}
                                               {% if field.field.disabled %}disabled{% endif %}>
                                    {% endif %}
                                </div>
                            {% endfor %}

                        </div>
                        <a href="{% if redirect_url %}{{ redirect_url }}{% else %}/{{ model_name }}{% if 'edit' in request.path %}/{{ record_id }}{% endif %}{% endif %}"
                           class="btn btn-outline-primary mr-2 mt-5">Anuluj</a>
                        <button type="submit" class="btn btn-primary mt-5">
                            Zapisz rekord
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}