{% extends 'base/base.html' %}
{% block title %} Serie Lekcji {% endblock title %}
{% load static %}
{% load crm_tags %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/student"><i
                            class="ri-home-4-line mr-1 float-left"></i>Studenci</a></li>
                    <li class="breadcrumb-item"><a href="/student/{{ student.id }}?tab=Lessons"><i
                            class="ri-home-4-line mr-1 float-left"></i>{{ student.get_full_name }}</a></li>
                    <li class="breadcrumb-item active"
                        aria-current="page">Serie Lekcji
                    </li>
                </ol>
            </nav>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table id="datatable-students" class="table data-table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Opis</th>
                        <th>Godzina</th>
                        <th>Data Rozpoczęcia Serii</th>
                        <th>Data Zakończenia Serii</th>
                        <th>Powtarzanie</th>
                        <th>Nauczyciel</th>
                        <th>Lokalizacja</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lesson in lessons %}
                        <tr>
                            <td>{{ lesson.description }}</td>
                            <td>{{ lesson.start_time.time }} - {{ lesson.end_time.time }}</td>
                            <td>{{ lesson.start_time.date }} ({{ lesson.start_time.date.weekday|get_weekday }})</td>
                            <td>{{ lesson.series_end_date|default_if_none:"Brak" }}</td>
                            <td>{% if lesson.is_series %}Co tydzień{% else %}Nigdy{% endif %}</td>
                            <td>{{ lesson.teacher.get_full_name }}</td>
                            <td>{{ lesson.location.get_full_name }}</td>
                            <td>
                                {% if perms.crm.change_lesson %}
                                    <button type="button" class="btn bg-primary-light p-0 px-1" onclick="window.location.href = '/lesson/edit/{{ lesson.id }}'">Edytuj</button>
                                {% endif %}
                                {% if perms.crm.delete_lesson %}
                                    <button type="button" class="btn bg-danger-light p-0 px-1" onclick="window.location.href = '/delete/{{ lesson.id }}'">Usuń</button>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
{#                        <th>Opis</th>#}
{#                        <th>Godzina</th>#}
{#                        <th>Data Rozpoczęcia Serii</th>#}
{#                        <th>Data Zakończenia Serii</th>#}
{#                        <th>Powtarzanie</th>#}
{#                        <th>Nauczyciel</th>#}
{#                        <th>Lokalizacja</th>#}
{#                        <th></th>#}
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}