{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ student.get_full_name }}{% endblock title %}
{% block style %}
    <style>
    </style>
{% endblock style %}
{% block content %}
    {% load crm_tags %}

    <div class="card">

        <div class="card-header d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/students"><i
                            class="ri-home-4-line mr-1 float-left"></i>Studenci</a></li>
                    <li class="breadcrumb-item active"
                        aria-current="page">{{ student.get_full_name }}
                </ol>
            </nav>
            <div>
                <button id="watch-button" class="btn rounded-pill" data-trigger="hover" data-toggle="popover" data-content="{% if watch_record %}Obserwujesz ten rekord{% else %}Chcesz obserwować ten rekord?{% endif %}" data-placement="bottom"
                    onclick="watchRecord('{{ student.id }}', '{{ student|verbose_name }}')" watching-record="{% if watch_record %}following{% else %}notFollowing{% endif %}">
                    <svg id="watch_icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="{% if watch_record %}2.5{% else %}1.5{% endif %}"
                         stroke="currentColor" class="w-6 h-6 {% if watch_record %}text-primary{% endif %}" width="25">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                    </svg>
                </button>
                <a href="" class="btn btn-primary rounded-pill font-size-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1"
                         stroke="currentColor" class="w-6 h-6" width="18">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                    </svg>
                    Edytuj
                </a>
                <a href="" class="btn btn-danger rounded-pill font-size-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1"
                         stroke="currentColor" class="w-6 h-6" width="18">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"></path>
                    </svg>
                    Usuń
                </a>
            </div>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab-1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link {% if request.GET.tab == 'Details' %}active{% endif %}" id="home-tab"
                       data-toggle="tab" href="#details" role="tab"
                       aria-controls="details" aria-selected="true"
                       onclick="addParamToURL('tab', 'Details')">Szczegóły</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.GET.tab == 'Lessons' %}active{% endif %}" id="lessons-tab"
                       data-toggle="tab" href="#lessons" role="tab"
                       aria-controls="lessons" aria-selected="false"
                       onclick="addParamToURL('tab', 'Lessons')">Lekcje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.GET.tab == 'Notes' %}active{% endif %}" id="lessons-tab"
                       data-toggle="tab" href="#notes" role="tab"
                       aria-controls="lessons" aria-selected="false"
                       onclick="addParamToURL('tab', 'Notes')">Notatki</a>
                </li>
            </ul>
            <div class="tab-content" id="tab-student">
                <div class="tab-pane fade {% if request.GET.tab == 'Details' %}show active{% endif %}" id="details"
                     role="tabpanel" aria-labelledby="details-tab">

                    <form>
                        {% csrf_token %}
                        <div class=" row align-items-center">
                            <div class="form-group col-sm-6">
                                <label for="student_first_name">Imię:</label>
                                <input name="first_name" type="text" class="form-control" readonly=""
                                       id="student_first_name"
                                       value="{{ student.first_name }}">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="student_last_name">Nazwisko:</label>
                                <input name="last_name" type="text" class="form-control" readonly=""
                                       id="student_last_name"
                                       value="{{ student.last_name }}">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="student_email">Email:</label>
                                <input name="email" type="email" class="form-control" readonly="" id="student_email"
                                       value="{{ student.email }}">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="student_phone">Telefon:</label>
                                <input name="phone" type="text" class="form-control" readonly id="student_phone"
                                       value="{{ student.phone|default_if_none:"" }}">
                            </div>
                        </div>
                        {#                        <button id="student_btn_edit" type="button"#}
                        {#                                class="btn btn-outline-primary mt-5"#}
                        {#                                style="{% if request.GET.mode == 'view' %} display: none{% endif %}"#}
                        {#                                onclick="editStudent()">#}
                        {#                            Edytuj#}
                        {#                        </button>#}
                        <button id="student_btn_cancel" type="button"
                                class="btn btn-outline-primary mr-2 mt-5"
                                style=" {% if request.GET.mode == 'view' %} display: none{% endif %}"
                                onclick="viewStudent()">
                            Anuluj
                        </button>
                        <button id="student_btn_submit" type="submit"
                                class="btn btn-primary mt-5"
                                style="{% if request.GET.mode == 'view' %} display: none{% endif %}">
                            Zapisz
                        </button>
                    </form>
                    <div class="mb-5"></div>
                    <div class="table-responsive">
                        <div class="d-flex justify-content-between mb-2">
                            <h5 class="card-title">Powiązane kontakty:</h5>
                            <a href="/students/{{ student.id }}/student-person/add"
                               class="btn btn-primary rounded-pill font-size-12">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor" class="w-6 h-6" width="18">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 1-4.512-.645-6.374-1.766Z"/>
                                </svg>
                                Dodaj powiązany kontakt
                            </a>
                        </div>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Imię Nazwisko</th>
                                <th scope="col" class="text-center">Relacja</th>
                                <th scope="col" class="text-center">Email</th>
                                <th scope="col" class="text-center">Telefon</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if student_persons %}
                                {% for student_person in student_persons %}
                                    <tr>
                                        <th scope="row" class="text-center"
                                            onclick="toggleDetails(this)">
                                            <a type="button" href="/contacts/{{ student_person.person.id }}"
                                               class="">{{ student_person.person.get_full_name }}
                                            </a>
                                        </th>
                                        <td class="text-center">{{ student_person.relationship_type }}</td>
                                        <td class="text-center">{{ student_person.person.email }}</td>
                                        <td class="text-center">{{ student_person.person.phone|default_if_none:"" }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td class="text-center" colspan="4">Brak powiązanych kontaktów</td>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade {% if request.GET.tab == 'Lessons' %}show active{% endif %}" id="lessons"
                     role="tabpanel" aria-labelledby="lessons-tab">
                    <div class="d-flex justify-content-between">

                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-outline-primary rounded-pill" id="prevYearBtn"
                                    onclick="setQueryYear(-1)">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor" class="w-6 h-6" width="24">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"/>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-outline-primary rounded-pill mx-1" id="currentYearBtn"
                                    onclick="setQueryYearNow()">
                                Teraz
                            </button>

                            <button type="button" class="btn btn-outline-primary rounded-pill" id="nextYearBTn"
                                    onclick="setQueryYear(1)">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor" class="w-6 h-6" width="24">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"/>
                                </svg>

                            </button>
                        </div>
                        <div class="mx-2 font-weight-500 d-flex align-items-center">
                            <h5 id="selected-year">{{ request.GET.selected_year }}</h5>
                        </div>


                        <button type="button" class="btn btn-primary rounded-pill mt-2 mb-3 align-content-center"
                                id="addLessonBtn" data-toggle="modal"
                                data-target="#createEventModalCenter">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-6 h-6" width="24">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"/>
                            </svg>
                            Dodaj lekcje
                        </button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Miesiąc</th>
                                <th scope="col" class="text-center">Zaplanowane</th>
                                <th scope="col" class="text-center">Odwołane</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for month_number, statutes in months_counter.items %}
                                <tr>
                                    <th scope="row" class="text-center"
                                        onclick="toggleDetails(this)">
                                        <a type="button" href="" class="" data-toggle="collapse"
                                           onclick="refreshOpenedMonths()" id="collapser_{{ month_number }}"
                                           data-target="#collaps_{{ month_number }}">{{ month_number|get_month_name }}
                                        </a>
                                    </th>
                                    <td class="text-center">{{ statutes.Planned }}</td>
                                    <td class="text-warning text-center">{{ statutes.Canceled }}</td>
                                </tr>
                                <tr>
                                    <td class="p-0" colspan="3">
                                        <div class="collapse in" id="collaps_{{ month_number }}">
                                            <table class="table">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                {% if statutes.Lessons %}
                                                    {% for key, lesson in statutes.Lessons.items %}
                                                        <tr class="{% if lesson.status == 'Planned' %} bg-primary-light {% else %}bg-danger-light{% endif %}">
                                                            <td>{{ lesson.start_date }} ({{ lesson.weekday }})
                                                                {% if lesson.original_date %}(przeniesione z
                                                                    {{ lesson.original_date }}){% endif %}</td>
                                                            <td>{{ lesson.start_time }} - {{ lesson.end_time }}</td>
                                                            <td>{{ lesson.description }}</td>
                                                            <td class="d-flex">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                     viewBox="0 0 24 24" stroke-width="1.5"
                                                                     stroke="currentColor" class="mr-1" width="18px">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                                                </svg>

                                                                {{ lesson.teacher }}
                                                            </td>
                                                            <td>
                                                                <a class="bg-blue text-white p-1 rounded-sm font-size-12 menu-button text-center"
                                                                   type="button" data-toggle="modal"
                                                                   data-target="#editEventModalCenter"
                                                                   onclick="modifyEvent('{{ lesson.lesson_id }}', '{{ lesson.start_time }}', '{{ lesson.end_time }}', '{{ lesson.start_date }}', '{{ student.get_full_name }}', 'Planned', '{{ lesson.is_adjustment }}', true)"
                                                                >Edytuj</a>
                                                                {% if lesson.status != 'Canceled' %}
                                                                    <a class="bg-red text-white p-1 rounded-sm font-size-12 menu-button text-center"
                                                                       type="button" data-toggle="modal"
                                                                       data-target="#editEventModalCenter"
                                                                       onclick="modifyEvent('{{ lesson.lesson_id }}', '{{ lesson.start_time }}', '{{ lesson.end_time }}', '{{ lesson.start_date }}', '{{ student.get_full_name }}', 'Canceled', '{{ lesson.is_adjustment }}')"
                                                                    >Odwołaj</a>
                                                                {% else %}
                                                                    <a class="bg-green text-white p-1 rounded-sm font-size-12 menu-button text-center"
                                                                       type="button" data-toggle="modal"
                                                                       data-target="#editEventModalCenter"
                                                                       onclick="modifyEvent('{{ lesson.lesson_id }}', '{{ lesson.start_time }}', '{{ lesson.end_time }}', '{{ lesson.start_date }}', '{{ student.get_full_name }}', 'Planned', '{{ lesson.is_adjustment }}')"
                                                                    >Zaplanuj</a>
                                                                {% endif %}

                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                {% else %}
                                                    <tr class="bg-light text-center">
                                                        <td colspan="3">Brak lekcji</td>
                                                    </tr>

                                                {% endif %}
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade {% if request.GET.tab == 'Notes' %}show active{% endif %}" id="notes"
                     role="tabpanel" aria-labelledby="details-tab">
                    <div class="my-4">
                        <a href="" class="btn btn-primary rounded-pill font-size-12"
                           type="button" data-toggle="modal"
                           data-target="#addNoteModalCenter">
                            + Dodaj Notatkę
                        </a>

                    </div>
                    <div id="note-full-container" class="row">
                        {% for note in notes %}
                            <div class="col-lg-4 col-md-6" style="">
                                <div class="card card-body">
                                    <p class="font-12 text-muted">{{ note.created_at }} {{ note.created_by.get_full_name }}</p>
                                    <div class="">
                                        <p class="">
                                            {{ note.content }}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="ml-auto">
                                            <div class="btn-group">
                                                <a class="nav-link dropdown-toggle label-group p-0"
                                                   data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                                   aria-expanded="true">
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="badge-group-item dropdown-item position-relative text-info"
                                                       href="#">
                                                        Edytuj
                                                    </a>
                                                    <a class="badge-group-item dropdown-item position-relative text-danger"
                                                       href="#;">
                                                        Usuń
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addNoteModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noteModalCenterTitle">Dodawanie Notatki</h5>
                    <button id="addNoteModal_closeWindow" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" name="add_note_form" id="add_note_from">
                    {% csrf_token %}
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class=" row align-items-center">
                            <div class="form-group col-sm-12">
                                <label for="content_addNoteForm">Treść</label>
                                <p class="text-danger" id="addNoteModal_textAreaError"></p>
                                <textarea class="form-control" name="content" id="content_addNoteForm"
                                          style="line-height: 1"
                                          rows="4" required maxlength="200"></textarea>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="studentForm_cancelForm">Student</label>
                                <input class="form-control" id="student_addNoteForm" required readonly=""
                                       value="{{ student.get_full_name }}">
                            </div>
                            <div class="form-group col-sm-6" hidden="">
                                <label for="studentForm_cancelForm">Student Id</label>
                                <input class="form-control" id="studentId_addNoteForm" required readonly=""
                                       value="{{ student.id }}">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <button name="addnote_form_btn" id="addnote_form_btn" type="button"
                                class="btn btn-primary" onclick="createNote()">Zapisz Notatkę
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editEventModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="cancelModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalCenterTitle">Chcesz odwołać tę lekcję?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" name="cancel_form" id="cancel_plan_form">
                    {% csrf_token %}
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class=" row align-items-center">
                            <div class="form-group col-sm-6">
                                <label for="starTime_cancelForm">Godzina Rozpoczęcia</label>
                                <input name="startTime" type="time" class="form-control" id="starTime_cancelForm"
                                       value="" style="line-height: 20px;"
                                       required readonly="">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="endTime_cancelForm">Godzina Zakończenia</label>
                                <input name="endTime" type="time" class="form-control" id="endTime_cancelForm"
                                       value=""
                                       style="line-height: 20px;" required readonly="">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="lessonDate_cancelForm">Data Lekcji</label>
                                <input name="lessonDate" type="date" class="form-control" id="lessonDate_cancelForm"
                                       value=""
                                       style="line-height: 20px;" required readonly="">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="studentForm_cancelForm">Student</label>
                                <input class="form-control" id="studentForm_cancelForm" required readonly="">
                            </div>
                            <div class="form-group col-sm-6" hidden="">
                                <label for="originalDate_cancelForm">original_date</label>
                                <input name="originalDate" type="date" class="form-control" id="originalDate_cancelForm"
                                       value=""
                                       style="line-height: 20px;" readonly="">
                            </div>
                            <div class="form-group col-sm-6" hidden="">
                                <label for="lessonSchedule_cancelForm">lessonSchedule</label>
                                <input name="lessonId" type="text" class="form-control"
                                       id="lessonId_cancelForm"
                                       value=""
                                       style="line-height: 20px;" readonly="">
                            </div>
                            <div class="form-group col-sm-6" hidden="">
                                <label for="status_cancelForm">lessonSchedule</label>
                                <input name="status" type="text" class="form-control" id="status_cancelForm"
                                       value=""
                                       style="line-height: 20px;" readonly="">
                            </div>
                            <div class="form-group col-sm-6" hidden="">
                                <label for="status_cancelForm">isAdjustment</label>
                                <input name="isAdjustment" type="checkbox" class="form-control"
                                       id="isAdjustment_cancelForm"
                                       style="line-height: 20px;" readonly="">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <button name="plan_form_submit" id="cancel_form_btn_plan" type="submit" class="btn btn-success">
                            Tak, Zaplanuj Lekcje
                        </button>
                        <button name="cancel_form_submit" id="cancel_form_btn_cancel" type="submit"
                                class="btn btn-danger">Tak, Odwołaj Lekcje
                        </button>
                        <button name="edit_form_submit" id="cancel_form_btn_edit" type="submit"
                                class="btn btn-primary">Zapisz Zmiany
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createEventModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="createEventModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createEventModalCenterTitle">Dodawanie nowej lekcji</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" name="create_form" id="create_lesson_form">
                    {% csrf_token %}
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class=" row align-items-center">
                            <div class="form-group col-sm-6">
                                <label for="starTime_createLesson">Godzina Rozpoczęcia</label>
                                <input name="startTime" type="time" class="form-control" id="starTime_createLesson"
                                       value="" style="line-height: 20px;"
                                       required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="endTime_createLesson">Godzina Zakończenia</label>
                                <input name="endTime" type="time" class="form-control" id="endTime_createLesson"
                                       value=""
                                       style="line-height: 20px;" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="lessonDate_createLesson">Data Lekcji</label>
                                <input name="lessonDate" type="date" class="form-control" id="lessonDate_createLesson"
                                       value=""
                                       style="line-height: 20px;" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="repeating_createLesson">Powtarzanie</label>
                                <select class="form-control" id="repeating_createLesson" name="repeat" required>
                                    <option value="never" selected>Nigdy</option>
                                    <option value="weekly">Co tydzień</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="repeating_createLesson">Opis:</label>
                                <input name="description" type="text" class="form-control" id="description_createLesson"
                                       value=""
                                       style="line-height: 20px;" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="studentForm_cancelForm">Student</label>
                                <input class="form-control" id="studentForm_cancelForm"
                                       value="{{ student.get_full_name }}" required readonly="">
                            </div>

                            <div class="form-group col-sm-6">
                                <label for="teacher_createLesson">Nauczyciel</label>
                                <select class="form-control" id="teacher_createLesson" name="teacher" required>
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-6 d-none" id="lessonDate_endSeries_div">
                                <label for="lessonDate_endSeries">Koniec Serii</label>
                                <input name="end_series" type="date" class="form-control" id="lessonDate_endSeries"
                                       value=""
                                       style="line-height: 20px;" data-toggle="tooltip" data-placement="right"
                                       title="Podaj datę ostatniej lekcji z serii. Może być puste">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <button name="create_form_submit" id="createLesson_form_btn" type="submit"
                                class="btn btn-primary">
                            Dodaj lekcje
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{% static '/js/notes.js' %}"></script>
    <script src="{% static '/js/watchRecord.js' %}"></script>
    <script>
        {#const csrf_token = '{% csrf_token %}';#}
        let student_first_name = document.getElementById("student_first_name");
        let student_last_name = document.getElementById("student_last_name");
        let student_email = document.getElementById("student_email");
        let student_phone = document.getElementById("student_phone");
        {#let student_edit = document.getElementById("student_btn_edit");#}
        let student_cancel = document.getElementById("student_btn_cancel");
        let student_submit = document.getElementById("student_btn_submit");

        let selected_year_div = document.getElementById("selected-year");
        let nextYearBTn = document.getElementById("nextYearBTn");
        let prevYearBtn = document.getElementById("prevYearBtn");

        function editStudent() {
            student_first_name.readOnly = false;
            student_last_name.readOnly = false;
            student_email.readOnly = false;
            student_phone.readOnly = false;

            {#student_edit.style.display = 'none'#}
            student_cancel.style.display = 'inline-block'
            student_submit.style.display = 'inline-block'

            let urlParams = new URLSearchParams(window.location.search);
            urlParams.set('mode', 'edit');
            window.history.replaceState({}, '', window.location.pathname + '?' + urlParams.toString());

        }

        function viewStudent() {
            student_first_name.readOnly = true;
            student_last_name.readOnly = true;
            student_email.readOnly = true;
            student_phone.readOnly = true;

            {#student_edit.style.display = 'inline-block'#}
            student_cancel.style.display = 'none'
            student_submit.style.display = 'none'

            let urlParams = new URLSearchParams(window.location.search);
            urlParams.set('mode', 'view');
            window.history.replaceState({}, '', window.location.pathname + '?' + urlParams.toString());

        }

        const delay = (delayInms) => {
            return new Promise(resolve => setTimeout(resolve, delayInms));
        };

        function modifyEvent(lesson_schedule_id, startTime, endTime, lessonDate, studentName, status, isAdjustment, is_edit = false) {
            let startTime_form = document.getElementById('starTime_cancelForm');
            let endTime_form = document.getElementById('endTime_cancelForm');
            let lessonDate_form = document.getElementById('lessonDate_cancelForm');
            let originalDate_form = document.getElementById('originalDate_cancelForm');
            let lessonId_form = document.getElementById('lessonId_cancelForm');
            let student_form = document.getElementById('studentForm_cancelForm');
            let status_form = document.getElementById('status_cancelForm');
            let btn_plan = document.getElementById('cancel_form_btn_plan');
            let btn_cancel = document.getElementById('cancel_form_btn_cancel');
            let btn_edit = document.getElementById('cancel_form_btn_edit');
            let cancelModalCenterTitle = document.getElementById('cancelModalCenterTitle');
            let isAdjustment_form = document.getElementById('isAdjustment_cancelForm');
            const cancel_title = 'Chcesz odwołać tę lekcję?';
            const plan_title = 'Chcesz zaplanować tę lekcję?';
            const edit_title = 'Czy chcesz zedytować tę lekcje?';


            if (is_edit) {
                btn_plan.style.display = 'none';
                btn_cancel.style.display = 'none';
                btn_edit.style.display = 'block';
                cancelModalCenterTitle.innerHTML = edit_title;
                startTime_form.readOnly = false;
                endTime_form.readOnly = false;
                lessonDate_form.readOnly = false;
            } else {
                btn_edit.style.display = 'none';
                startTime_form.readOnly = true;
                endTime_form.readOnly = true;
                lessonDate_form.readOnly = true;
                if (status === 'Canceled') {
                    btn_plan.style.display = 'none';
                    btn_cancel.style.display = 'block';
                    cancelModalCenterTitle.innerHTML = cancel_title;
                } else {
                    btn_plan.style.display = 'block';
                    btn_cancel.style.display = 'none';
                    cancelModalCenterTitle.innerHTML = plan_title;
                }
            }
            let parts = lessonDate.split('-');
            let day = parts[0];
            let month = parts[1];
            let year = parts[2];

            // Utwórz obiekt Date z rozdzielonej daty
            let dateObject = new Date(year, month - 1, day + 1);

            // Uzyskaj wartość w formacie rok-miesiąc-dzień
            let formattedDate = dateObject.toISOString().slice(0, 10);


            startTime_form.value = startTime;
            endTime_form.value = endTime;
            lessonDate_form.value = year + '-' + month + '-' + day;
            lessonId_form.value = lesson_schedule_id;
            student_form.value = studentName;
            originalDate_form.value = year + '-' + month + '-' + day;
            status_form.value = status;
            isAdjustment_form.checked = isAdjustment === 'True';
        }

        let openedMonths = [];

        document.addEventListener("DOMContentLoaded", function () {
            let urlParams = new URLSearchParams(window.location.search);
            openedMonths = urlParams.get('opened_months');
            if (openedMonths) {
                openedMonths = openedMonths.split(',');
                openedMonths.forEach(function (monthNumber) {
                    let collapsibleDiv = document.getElementById('collaps_' + monthNumber);
                    if (collapsibleDiv) {
                        collapsibleDiv.classList.add('show');
                    }
                });
            } else {
                openedMonths = [];
            }

            let mode = urlParams.get('mode');

            if (mode === "edit") {
                editStudent()
            } else {
                viewStudent()
            }

            let selected_year = urlParams.get('selected_year');
            if (!selected_year) {
                const current_year = new Date().getFullYear();
                selected_year = current_year;
                addParamToURL('selected_year', current_year)
            }
            selected_year_div.innerHTML = selected_year

        });

        function setQueryYear(value) {
            selected_year_div.innerHTML = parseInt(selected_year_div.innerHTML) + value;

            const currentURL = window.location.href;
            let urlSearchParams = new URLSearchParams(window.location.search);
            urlSearchParams.set('selected_year', selected_year_div.innerHTML);

            window.location.href = currentURL.split('?')[0] + '?' + urlSearchParams.toString();
        }

        function setQueryYearNow() {
            selected_year_div.innerHTML = new Date().getFullYear();

            const currentURL = window.location.href;
            let urlSearchParams = new URLSearchParams(window.location.search);
            urlSearchParams.set('selected_year', selected_year_div.innerHTML);

            window.location.href = currentURL.split('?')[0] + '?' + urlSearchParams.toString();
        }

        async function refreshOpenedMonths() {
            let delayres = await delay(1000);
            let divElements = document.querySelectorAll('[id^="collaps_"]');
            openedMonths = [];
            divElements.forEach(function (div) {
                if (div.classList.contains('show')) {
                    let monthNumber = div.id.split('_')[1];
                    openedMonths.push(monthNumber);
                }
            });

            let urlParams = new URLSearchParams(window.location.search);
            urlParams.set('opened_months', openedMonths.join(','));
            window.history.replaceState({}, '', window.location.pathname + '?' + urlParams.toString());
        }


        function addParamToURL(key, value) {
            const currentURL = window.location.href;
            const searchParams = new URLSearchParams(window.location.search);
            // Dodaj parametr tab_name
            searchParams.set(key, value);

            // Utwórz nowy URL z dodanym parametrem
            const newURL = currentURL.split('?')[0] + '?' + searchParams.toString();

            // Zastąp obecny URL nowym URL z dodanym parametrem
            window.history.replaceState({path: newURL}, '', newURL);
        }

        function toggleDetails(element) {
            let detailsRow = element.parentElement.nextElementSibling;
            if (detailsRow.classList.contains('details')) {
                if (detailsRow.style.maxHeight === 0) {
                    {#detailsRow.style.display = 'table-row';#}
                    detailsRow.style.maxHeight = 1000 + 'px';
                } else {
                    detailsRow.style.maxHeight = '0px';

                }
            }
        }

        repeating_createLesson = document.getElementById('repeating_createLesson');
        endSeries_input = document.getElementById('lessonDate_endSeries');
        endSeries_div = document.getElementById('lessonDate_endSeries_div');

        repeating_createLesson.addEventListener("change", function () {
            if (repeating_createLesson.value === 'never') {
                endSeries_div.classList.add('d-none');
                endSeries_input.value = null;
            } else {
                endSeries_div.classList.remove('d-none');
            }

        })
    </script>
{% endblock javascript %}