{% extends 'auth/auth-base.html' %}
{% load static %}

{% block content %}
    <section class="login-content">
        <div class="container-fluid h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-12 text-center">
                                    <img src="../../static/images/warsztat-logo.jpeg"
                                         class="img-fluid rounded-normal w-25 h-25" alt="logo">

                                    <h2 class="mt-3 mb-0">Poszło!</h2>
                                    <p class="mb-1">Na podany adres email został wysłany link jeśli adres istnieje w
                                        systemie.<br>Otwórz wysłany link, aby zresetować hasło</p>
                                    <div class="d-inline-block w-100">
                                        <a href="/login" class="btn btn-primary mt-3">
                                            <span>Wroć na stronę logowania</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}