{% extends 'base/base.html' %}
{% load crm_tags %}
{% block style %}
        <!-- Cropper.js CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
    <style>
        [data-letters].initialspage:before {
            background: {{ user.avatar_color }} !important;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.3s;
            width: 160px;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
        }

        .overlay:hover {
            opacity: 1;
        }

        .overlay-text {
            color: white;
            font-size: 16px;
            font-weight: bold;
        }
        .modal-body {
            max-height: 400px;
            overflow-y: auto;
        }
        .cropper-view-box,
        .cropper-face {
            border-radius: 50%;
        }
    </style>
{% endblock style %}
{% block title %}
	{{ user.get_full_name }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-block p-card">
                    <div class="profile-box" style="padding-bottom: 170px;">
                        <div class="card bg-primary pt-4 rounded text-center">
                            <div class="position-relative">
                                {% if user.user_avatar %}
                                    <img width="160px" id="user-avatar" class="user-avatar rounded-circle mx-auto" src="/media{{ user.user_avatar.url }}" alt="user avatar picture">
                                {% else %}
                                    <span id="user-avatar" data-letters="{{ user.get_full_name|initials }}" class="initialsbig initialspage mx-auto"></span>
                                {% endif %}
                                <div class="overlay text-center rounded-circle" onclick="document.getElementById('file-input').click()">
                                    <span class="overlay-text">Zmień zdjęcie profilowe</span>
                                </div>
                                <input type="file" id="file-input" style="display: none;" accept="image/*" onchange="updateProfilePicture(event)">
                            </div>
                            <h3 class="font-600 text-white text-center mb-0">{{ user.get_full_name }}</h3>
                            <p class="text-white text-center mb-5"></p>
                        </div>
                        <div class="pro-content rounded">
                            <div class="d-flex align-items-center mb-3">
                                <div class="p-icon mr-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="text-primary" width="20" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76"></path>
                                    </svg>
                                </div>
                                <a class="mb-0 eml" href="mailto:{{ user.email }}">{{ user.email }}</a>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div class="p-icon mr-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="text-primary" width="20" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M16 8l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M5 3a2 2 0 00-2 2v1c0 8.284 6.716 15 15 15h1a2 2 0 002-2v-3.28a1 1 0 00-.684-.948l-4.493-1.498a1 1 0 00-1.21.502l-1.13 2.257a11.042 11.042 0 01-5.516-5.517l2.257-1.128a1 1 0 00.502-1.21L9.228 3.683A1 1 0 008.279 3H5z"></path>
                                    </svg>
                                </div>
                                <p class="mb-0">{{ user.phone|default:"Brak Telefonu" }}</p>
                            </div>
                            {% if perms.crm.change_user %}
                                <button class="btn btn-primary"
                                        onclick="window.location.href = '/user/edit/{{ user.id }}'">Edytuj
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-block">
                    <div class="card-body">
                        <div>
                            <h5>Wszyscy studenci nauczyciela:</h5>
                            {% if students %}
                                <ul>
                                    {% for student in students %}
                                        <li>{{ student.get_full_name }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div>Brak studentów do wyświetlenia</div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        
        </div>
    </div>
<!-- Modal do przycinania zdjęcia -->
<div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cropModalLabel">Przytnij zdjęcie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <img id="image-to-crop" style="max-width: 100%; display: block;" alt="image to crop">
                </div>
            </div>
            <form method="post" id="uploadForm" enctype="multipart/form-data">
            {% csrf_token %}
                <input type="hidden" id="croppedImage" name="cropped_image">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <button type="button" id="saveButton" class="btn btn-primary">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

<!-- Cropper.js JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <script>
        let cropper;

        document.getElementById('saveButton').addEventListener('click', function () {
            if (cropper) {
                const croppedCanvas = cropper.getCroppedCanvas({
                    width: 300, // Rozmiar przyciętego obrazu
                    height: 300,
                });
                
                document.getElementById('croppedImage').value = croppedCanvas.toDataURL('image/png');
                document.getElementById('uploadForm').submit();
            }
        });

        function updateProfilePicture(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const imageElement = document.getElementById('image-to-crop');
                    imageElement.src = e.target.result;

                    $('#cropModal').modal('show');

                    $('#cropModal').on('shown.bs.modal', function () {
                        cropper = new Cropper(imageElement, {
                            aspectRatio: 1,
                            viewMode: 2,
                            autoCropArea: 1,
                        });
                    });

                    $('#cropModal').on('hidden.bs.modal', function () {
                        cropper.destroy();
                        cropper = null;
                    });
                };
                reader.readAsDataURL(file);
            }
        }

        function cropImage() {
            const canvas = cropper.getCroppedCanvas({
                width: 300,
                height: 300,
            });

            const avatarElement = document.getElementById('user-avatar');
            const croppedImageURL = canvas.toDataURL('image/png');

            if (avatarElement.tagName === 'IMG') {
                avatarElement.src = croppedImageURL;
            } else if (avatarElement.tagName === 'SPAN') {
                const newImage = document.createElement('img');
                newImage.src = croppedImageURL;
                newImage.width = 160;
                newImage.className = 'user-avatar rounded-circle mx-auto';
                newImage.alt = 'user avatar picture';
                avatarElement.parentNode.replaceChild(newImage, avatarElement);
            }

            $('#cropModal').modal('hide');
        }
    </script>
{% endblock javascript %}
